@mixin flexCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;    
}

body{
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.nav-header {
  border: dotted;
  border-color: blue;
  width: 100vw;
  height: 9vh;
  overflow:hidden;
  background-color: $primary-color;
  @include flexCenter(center, center);

   nav{
    div{
      @include flexCenter(space-around, center);
      width:100vw;
    }
  }
}


.landing{

  @include flexCenter(center, center);

  border: dotted;
  border-color: red;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  overflow: hidden;
  align-content: center;

  h1{
    color: $primary-color;
  }
}